---
import Layout from "@layouts/Layout.astro";

if (!Astro.locals.valid) {
  return Astro.redirect("/login");
}

const token = Astro.cookies.get("roletoken");
---

<Layout title="Home">
  <div class="fullscreen">
    <h1>Home</h1>
    <p>Token: {token?.value}</p>
    <p>Role: {Astro.locals.role}</p>
    <p>Valid: {Astro.locals.valid}</p>
  </div>
</Layout>

<style>
  .fullscreen {
    width: 100vw;
    height: 100vh;
  }
</style>
