---
import { LoginComponent } from "@/components/LoginComponent";
import Layout from "@layouts/Layout.astro";

if (Astro.locals.valid) {
  return Astro.redirect("/");
}
---

<Layout title="Login">
  <div class="login-container flex justify-center items-center h-screen">
    <LoginComponent client:only="react" />
  </div>
</Layout>

<style>
  .login-container {
    background-color: #f0f0f0;
  }
</style>
